body {
  padding: 0;
  margin: 0;
  font-family: poppins;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(71, 79, 236);
  box-shadow: 0px 2px 10px 2px rgb(127, 127, 127);
  height: 4rem;
  position: fixed;
  width: 100%;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0.6rem;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}

.navbar-links li a::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  background-color: #333;
  transition: all ease 500ms;
}

.navbar-links li a:hover::after{
  width: 100%;
}

.main-container {
  padding: 20px 40px;
  height: 95vh;
  display: flex;
  justify-content: space-around;
}

.main-container img {
  height: 400px;
  margin-top: 10rem;
  margin-left: -6rem;
}
.main-info {
  margin-top: 12rem;
}

.main-info h1 {
  font-size: 4.5rem;
  margin: 0;
}

.main-info p {
  font-size: 1.5rem;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-top: 0.7rem;
  line-height: 0.8rem;
}

.main-info p span{
  color: blue;
  margin-bottom: -0.5rem;
}

.main-info h3 {
  color: rgb(14, 25, 237);
}

.about {
  margin: 1rem 4.3rem;
  padding: 3rem;
  background-color: #f3f5ff;
  border-left: 8px solid red;
  border-radius: 14px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 2rem 4.3rem;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  padding: 2rem;
  gap: 4rem;
  border-left: 8px solid blue;
  border-radius: 14px;
  background-color: #f3f5ff;
  margin-top: 1.5rem;
}

#scroll-button{
  position: fixed;
  top: 85%;
  left: 94%;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}

#scroll-button svg{
position: absolute;
top: -12px;
left: -6px;
}

#scroll-button circle{
  fill: none;
  stroke: blue;
  stroke-width: 4;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
  transition: stroke-dashoffset 0.1s linear;
}

.carousel img{
  height: 300px;
  width: 300px;

}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f3f5ff;
  margin-top: 2rem;
  height: fit-content;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
