body {
  padding: 0;
  margin: 0;
  font-family: poppins;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(71, 79, 236);
  box-shadow: 0px 14px 18px 2px rgb(127, 127, 127);
  height: 4rem;
  position: fixed;
  width: 100%;
}

.nav-container h3{
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0.6rem;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}

.navbar-links li a::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  background-color: #16fa01;
  transition: all ease 500ms;
  border-radius: 14px;
}

.navbar-links li:hover a{
  color: #16fa01;

}

.navbar-links li a:hover::after{
  width: 100%;
}

.main-container {
  padding: 20px 40px;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.main-container img {
  height: 500px;
  width: 400px;
  margin-top: 8rem;
  border-radius: 14px;
  box-shadow: 0px 4px 15px 4px rgb(150, 150, 150);
}
.main-info {
  margin-top: 12rem;
}

.main-info h1 {
  font-size: 4.5rem;
  margin: 0;
}

.main-info p {
  font-size: 1.5rem;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-top: 0.7rem;
  line-height: 0.8rem;
  flex-wrap: nowrap;
}

.main-info p span{
  color: blue;
  margin-bottom: -0.5rem;
}

.main-info h3 {
  color: rgb(14, 25, 237);
}

.main-container a{
 margin-right: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(64, 64, 236);
  padding: 0.6rem 0.9rem;
  border-radius: 8px ;
  font-size: 1rem;
  margin-top: 7rem;
}

.about {
  margin: 1rem 4.3rem;
  margin-top: 3rem;
  padding: 3rem;
  background-color: #f3f5ff;
  border-left: 8px solid red;
  border-radius: 14px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 2rem 4.3rem;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  padding: 2rem;
  gap: 4rem;
  border-left: 8px solid blue;
  border-radius: 14px;
  background-color: #f3f5ff;
  margin-top: 1.5rem;
}

.project img{
  height: 200px;
  width: 300px;
  border-radius: 14px;
} 

.project img:hover{
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 15px 4px rgb(150, 150, 150);

}

.project a{
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(64, 64, 236);
  padding: 0.5rem 0.7rem;
  border-radius: 8px ;
  font-size: 12px;
}

#scroll-button{
  position: fixed;
  top: 85%;
  left: 94%;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}

#scroll-button svg{
position: absolute;
top: -12px;
left: -6px;
}

#scroll-button circle{
  fill: none;
  stroke: blue;
  stroke-width: 4;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
  transition: stroke-dashoffset 0.1s linear;
}

.carousel{
  margin: 1rem 3rem;
  border: 2px solid rgb(5, 245, 81);
  background-color: #f3f5ff;
  z-index: -1;
  border-radius: 8px;
}

.carousel img{
  height: 500px;
  width: 150px;
  border-radius: 2rem;
  padding: 1rem;

}
.carousel p{
  padding: 1rem;
  margin-left: 2rem;
  font-weight: 600;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      background-color: #f3f5ff;
        margin: 2rem 3rem;
        border-radius: 8px;
        padding-top: 1rem;



}

.contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact form label{
  margin-left: 3rem;
}
lable{
  margin-right: 21.8rem;
  color: blue;
}

input{
  width: 400px;
  padding: 0.6rem;
  border-radius: 6px;
  border: 2px solid rgb(150, 207, 225);
}
textarea{
  height: 100px;
  width: 400px;
  border-radius: 6px;
  border: 2px solid rgb(150, 207, 225);
  padding: 1rem;
}

form button{
  margin: 1rem;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f3f5ff;
  margin-top: 2rem;
  height: fit-content;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}


@media (max-width: 576px) {

  .nav-container {
    padding: 10px 20px;
  }

  .nav-container h3 {
    font-size: 1rem;
    color: white;
  }
  .navbar-links{
    font-size: 1rem;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;

  }

  .main-container img {
    margin-left: 0;
    margin-top: 7rem;
  }

  .main-info {
    margin-top: 2rem;
    text-align: center;
  }
  .main-info h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .main-info p {
    font-size: 1rem;
    line-height: 1.2rem;
    flex: start;
  }

.about {
    margin: 1rem;
    margin-top: 20rem;
    padding: 1rem;
  }

  .about, .projects, .project,.carousel {
    margin: 1rem 0.8rem;
    padding: 1rem;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

.carousel img{
  height: 350px;
}

  .contact{
    margin: 0 0.8rem;
  }

  #scroll-button{
  position: fixed;
  top: 90%;
  left: 80%;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}

#scroll-button svg{
position: absolute;
top: -12px;
left: -6px;
}




}